<footer class="site-footer">
		<div class='brown lighten-3'>

          <div class="container">
            <div class="row">
              <div class="col l6 s12">
              </div>
              <div class="col s12">
                <ul>
                  <%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
      			  	  <%= link_to 'About C4C', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
      				    <%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
      				    <%= link_to 'Privacy Policy', privacy_path %>
                </ul>
              </div>
            </div>
          </div>

          <div id="copy">
			Webmaster: <%= mail_to("kunalsin@andrew.cmu.edu", "Kunal Sinha", encode: "javascript") %> 
			&nbsp;&nbsp;&copy 2015
		</div>
	</div>
</footer>