<%= simple_form_for @user, :html => { :multipart => true } do |user_form| %>
  <div class="row">
    <div class="span7">
      <fieldset>
        <legend><%= controller.action_name.capitalize %> User </legend>

          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h5><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h5>
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><b style="color:red"><%= msg %></b></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          
            <% if controller.action_name == "new" || controller.action_name == "create" %>
              <div class="field">
                <b><%= user_form.label :username %></b><br />
                <%= user_form.text_field :username %>
              </div>
              <div class="field">
                <b><%= user_form.label :password %></b><br />
                <%= user_form.password_field :password %>
              </div>
              <div class="field">
                <b><%= user_form.label :password_confirmation %></b><br />
                <%= user_form.password_field :password_confirmation %>
              </div>
            <% end %>
              <%= user_form.input :active, as: :hidden, input_html: {value: true} %>
            <br>
            <% if current_user && current_user.role?(:admin) %>
                <div class="row">
                  <div class="input-field col s12">
                    <b><%= user_form.label :role %></b><br />
                    <%= user_form.select(:role, User::ROLES, prompt: "Select...") %>
                  </div>
                </div>
              <% end %>
            <% if current_user && current_user.role?(:admin) %>
              <div class="field">
                <%= user_form.check_box :active %>
                <%= user_form.label :active %><br />
              </div>
            <% else %>
              <%= user_form.input :active, as: :hidden, input_html: {value: true} %>
            <% end %>

          <div class="form-actions">
            <%= user_form.submit nil, :class => 'button radius' %>
            <%= link_to 'Cancel', users_path(current_user.id), :class => 'button alert radius' %>
          </div>
      </fieldset>
    <% end %>
  </div>
</div>