<h1><left> <%=@customer.first_name%>'s Profile </left></h5>
<br>

<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="mdi-action-account-box"></i><b>Full Name</b></div>
      <div class="collapsible-body"><p><%= @customer.proper_name %></p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-hardware-phone-iphone"></i><b>Phone Number</b></div>
      <div class="collapsible-body"><p><%= number_to_phone @customer.phone %></p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-communication-email"></i><b>Email Address</b></div>
      <div class="collapsible-body"><p><%= mail_to @customer.email, @customer.email, encode: "javascript" %></p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-maps-place"></i><b>Active User?</b></div>
      <div class="collapsible-body"><p><%= @customer.active ? 'Yes' : 'No' %></p></div>
    </li>
  </ul>

<p>
  <em>A Change For Change customer since <%= @customer.created_at.year %>.</em>
</p>