<%= simple_form_for @address, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Address</legend>

    <% if current_user.role?(:admin) %>
      <%= f.input :customer_id, collection: Customer.active.alphabetical, include_blank: true, input_html: {class: "avg"} %>
    <% else %>
      <%= f.input :customer_id, as: :hidden, input_html: { value: current_user.customer.id } %>
    <% end %>

  <div class="field">
    <b><%= f.label :recipient %></b><br />
    <%= f.text_field :recipient %>
  </div>
  <div class="field">
    <b><%= f.label :street_1 %></b><br />
    <%= f.text_field :street_1 %>
  </div>
  <div class="field">
    <b><%= f.label :street_2 %></b><br />
    <%= f.text_field :street_2 %>
  </div>
  <div class="field">
    <b><%= f.label :city %></b><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <b><%= f.label :state %></b><br />
    <%= f.select(:state, Address::STATES_LIST, prompt: "Select...") %>
  </div>
  <div class="field">
    <b><%= f.label :zip %></b><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.check_box :is_billing %>
    <%= f.label :is_billing %><br />
  </div>
  <br>
  <div class="field">
    <%= f.check_box :active %>
    <%= f.label :active %><br />
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'button radius' %>
    <%= link_to 'Cancel', addresses_path, :class => 'button alert radius' %>
  </div>
  </fieldset>
<% end %>