<%= simple_nested_form_for @item, :html => { :multipart => true } do |item_form| %>
  <div class="row">
    <div class="span7">
      <fieldset>
        <legend><%= controller.action_name.capitalize %> Transaction </legend>
          <% if @item.errors.any? %>
            <div id="error_explanation">
              <h5><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h5>
              <ul>
              <% @item.errors.full_messages.each do |msg| %>
                <li><b style="color:red"><%= msg %></b></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <b><%= item_form.label :User_Id %></b><br />
            <%= item_form.text_field :name %>
          </div>

          <%= item_form.simple_fields_for :item_prices do |price_form| %>
            <% if controller.action_name == 'new' || controller.action_name == 'create'  %>
            <div class="field">
              <%= price_form.label :price %>
              <%= price_form.text_field :price %><br />
            </div>
            <%end%>
            <%= price_form.input :start_date, as: :hidden, input_html: {value: Date.today } %>
            <%= price_form.input :end_date, as: :hidden, input_html: {value: nil } %>
          <%end%>
          </br>
           <div class="field">
            <%= item_form.check_box :active %>
            <%= item_form.label :active %><br />
          </div>
          <div class="form-actions">
            <%= item_form.submit nil, :class => 'button radius' %>
            <%= link_to 'Cancel', home_path, :class => 'button alert radius' %>
          </div>
      </fieldset>
    <% end %>
  </div>
</div>
