<div class="row container">
  <h3>
      <b>Transaction Completed by User Id</b>: <%= @item.name %>
    </h3>
    <br>
  </div>
      <br>
      <div class = "col s12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><center><b>Date</b></center></th>
            <th><center><b>Charity</b></center></th>
            <th><center><b>Amount Donated</b></center></th>
          </tr>
        </thead>
        <tbody>
          <% @history.each_with_index do |ph, index| %>
            <tr>
              <td><center><%= ph.start_date.strftime('%B, %d, %Y') %></center></td>
              <td><center><%= @custitems[rand(1..22)]["nickname"] %></center></td>
              <td><center><%= number_to_currency ph.price %></center></td>
            </tr>
          <% end %>
        </tbody>
      </table>
     </div>

 <% if current_user && current_user.role?(:customer) %>
        <p><b><%= button_to "Save Transaction", add_to_cart_path(@item) %></b></p>
      <% end %>


