<h2>All Items</h2>
  <div class="row">
    <% items.each do |item| %>
      <div class="col s4">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <% if item.picture.blank? %>
              <img class="activator" src="http://www.baseballclearinghouse.net/assets/images/image-unavailable.gif">
            <% else %>
              <img class="activator" src=<%= item.picture%>>
            <% end %>
          </div>
          
          <div class="card-content white-text">
            <span class="card-title activator grey-text text-darken-4"><%= item.name %><i class="mdi-navigation-more-vert right"></i></span>
            <div class="col s6">
              <p><%= link_to "More Details", item_path(item)%></p>
              <% if (current_user && current_user.role?(:admin)) || (current_user && current_user.role?(:customer))%>
                <p><%= button_to "Add Item to Cart", add_to_cart_path(item) %></p>
              <%end%>
            </div>
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><b><%= item.name %></b> <i class="mdi-navigation-close right"></i></span><br>
            <p><%= item.description %></p>
            <p>Item Price: <%= number_to_currency(item.current_price) %></p>
            <p>Comes In: <%= item.units_per_item %> <%= item.category == 'bread' ? 'loaf' : item.category %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<%= will_paginate items, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  


