<% if items.empty? %>
  <p><em>There are no items at this time.</em></p>
<% else %>
<h2>All Items</h2>
<% items.each do |item| %>
  <div class="col s4">
    <div class="card large">
      <div class="card-image waves-effect waves-block waves-light">
        <% if item.picture != nil %>
          <img class="activator" src=""<% item.picture%> >
        <% else %>
          <img class="activator" src="http://www.baseballclearinghouse.net/assets/images/image-unavailable.gif">
        <% end %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= item.name %><i class="mdi-navigation-more-vert right"></i></span>
        <%= link_to "More Info", item_path(item)%>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><b><%= item.name %></b> <i class="mdi-navigation-close right"></i></span>
          <p><%= item.description %></p>
          <p>Item Price: <%- number_to_currency item.current_price %></p>
          <p><%= item.units_per_item %> <%= item.category == 'bread' ? 'loaf' : item.category %></p>
        </div>
      </div>
  </div>
</div>
<%= will_paginate items, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<p>&nbsp;</p>
<% end %>
<% end %>