<% if @order_items.empty? %>
  <h2><center>No new transactions have been made. Please add a new transaction to continue.</center></h2>
  <%= link_to "Add Transaction", new_item_path%>
<% else %>
  <h2><center>Today's Total Donations By Customers</center></h2>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><center><b>User Id</b></center></th>
        <th><center><b>Donations</b></center></th>
        <th><center><b>Remove Donation?</b></center></th>

        <% if controller.controller_name == 'home' %>
          <th>&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |oi| %>
        <tr>
          <td><center><%= link_to oi.item.name, item_path(oi.item) %></center></td>
          <td align="right"><center><%= number_to_currency oi.subtotal(Date.today) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</center></td>
          <td align="right"><center><%= button_to("Delete",remove_from_cart_path(oi.item))%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</center></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to "Calculate Total and Deposit", checkout_path%>
<%end%>

